@model Shaligram_Recruitment.Model.ViewModels.ResetPasswordModel

@{
    ViewData["Title"] = "ResetPassword";
    Layout = "~/Views/Shared/_SignInLayout.cshtml";
}
<style>
    .colored-toast.swal2-icon-error {
        background-color: #f27474 !important;
    }
</style>
<div class="card-body p-md-5 mx-md-4 col-sm-12 response ">
    <div class="text-center">
        <img src="~/img/Vector.png"
             alt="logo">
        <h4 class="mt-1 mb-5 pb-1">ResetPassword</h4>
    </div>
<form class="pt-3" asp-action="ResetPassword" method="post">
    <div class="form-group">
        <label asp-for="NewPassword">New Password<span class="text-danger" style="margin-left: 8px;">*</span></label>
        <input type="password" asp-for="NewPassword" class="form-control form-control-lg" id="exampleInputEmail1" placeholder="New Password">
        <span asp-validation-for="NewPassword" class="text-danger"></span>
    </div>
    <div class="form-group mt-3">
        <label asp-for="ConfirmPassword">Confirm Password<span class="text-danger" style="margin-left: 8px;">*</span></label>
        <input type="password" asp-for="ConfirmPassword" class="form-control form-control-lg" id="exampleInputPassword1" placeholder="Confirm Password">
        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
    </div>
        <div class="form-group mt-3">
            <button type="submit" id="form2Example22" class="btn p-2 mt-4 w-100 text-light mb-3 auth-form-btn" style="background: linear-gradient(90deg, #1C73AA 0%, #123953 100%);">
                Reset Password
            </button>
        </div>
   @*  <div class="mt-3">
        <button class="btn btn-block btn-primary btn-lg font-weight-medium auth-form-btn" type="submit">Reset Password</button>
    </div> *@
    <div class="text-center mt-4 font-weight-light">
        Back To Login? <a href="/UserPanle/Login" class="text-primary">SignIn</a>
    </div>
</form>
</div>
@if (TempData["Password"] != null)
{
    <script>
        const Toast = Swal.mixin({
            toast: true,
            position: 'top-end',
            showConfirmButton: false,
            timer: 3000,
            timerProgressBar: true,
            iconColor: 'white',
            customClass: {
                popup: 'colored-toast'
            },
            didOpen: (toast) => {
                toast.addEventListener('mouseenter', Swal.stopTimer)
                toast.addEventListener('mouseleave', Swal.resumeTimer)
            }
        })

        Toast.fire({
            title: '@TempData["Password"]',
            icon: 'error',
        })
    </script>
}