<style>
    .colored-toast.swal2-icon-success {
        background-color: #a5dc86 !important;
    }
</style>
@if (TempData["Msg"] != null)
{
    <script>
        const Toast = Swal.mixin({
            toast: true,
            position: 'top-end',
            showConfirmButton: false,
            timer: 3000,
            timerProgressBar: true,
            iconColor: 'white',
            customClass: {
                popup: 'colored-toast'
            },
            didOpen: (toast) => {
                toast.addEventListener('mouseenter', Swal.stopTimer)
                toast.addEventListener('mouseleave', Swal.resumeTimer)
            }
        })

        Toast.fire({
            title: '@TempData["Msg"]',
            icon: 'success',
        })
    </script>
}
@if (TempData["Password"] != null)
{
    <script>
        const Toast = Swal.mixin({
            toast: true,
            position: 'top-end',
            showConfirmButton: false,
            timer: 3000,
            timerProgressBar: true,
            iconColor: 'white',
            customClass: {
                popup: 'colored-toast'
            },
            didOpen: (toast) => {
                toast.addEventListener('mouseenter', Swal.stopTimer)
                toast.addEventListener('mouseleave', Swal.resumeTimer)
            }
        })

        Toast.fire({
            title: '@TempData["Password"]',
            icon: 'success',
        })
    </script>
}
<div class="content-wrapper">

   
</div>
<!-- content-wrapper ends -->
<!-- partial:partials/_footer.html -->
@* <footer class="footer">
    <div class="d-sm-flex justify-content-center justify-content-sm-between">
        <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">Copyright © 2021.Premium from Shaligarm Sample Code. All rights reserved.</span>
    </div>
</footer> *@